@import '../../mixin.scss';

.container {
    // border: 2px solid green; 
    background-color: #c4c4c4;
    height: 100vh;
    padding: 10px 40px 10px 40px;
}

.gameHeading {
    // text-align: center; 
    margin-left: 30%;
    font-size: 45px;
    font-weight: 800;

    @include sm {
        font-size: 25px;
    }
}

.subContainer {
    height: 88vh;
    // border: 4px solid greenyellow;
}

.sub-container {
    @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.bgImgContainer {
    background-image: url('/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px rgb(5, 51, 76);

    // border: 1px solid red;
    @include md {
        height: 100%;
        width: 100%;
        // margin-left: 4%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.boatContainer {
    position: relative;
    height: 100%;
    width: 100%;
    // border: 1px solid red;
}

.randomImg {
    position: absolute;
    height: 15%;
    width: 8%;

    // border: 1px solid red;
    @include md {
        position: absolute;
    }

    @include sm {
        width: 15%;
    }
}

.boatImg {
    position: absolute;
    bottom: 0px;
    width: 8%;
    transition: 0.1s linear;

    // border: 1px solid greenyellow;
    @include md {
        position: absolute;
    }

    @include sm {
        width: 15%;
    }

}

//================== Records Container ==================//
.statsContainer {
    // border: 2px solid blue;
    background-color: rgb(153, 162, 171, 0.5);
    width: 15%;
    height: 630px;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 8px 2px rgb(5, 51, 76);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include md {
        height: 10%;
        width: 80%;
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        margin: 0px;
        margin-top: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.homebtn {
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(158, 66, 66, 0.9);
    color: rgb(214, 211, 211);
    // border: none;
    border-bottom: 3px solid;

    &:hover {
        cursor: pointer;
        background-color: rgb(214, 211, 211);
        color: rgb(158, 66, 66, 0.9);
        border-bottom: 3px solid rgb(158, 66, 66, 0.9);
        border-top: 1px solid rgb(158, 66, 66, 0.9);
        transform: scale(1.08);
        transition: background-color 0.5s ease, transform 0.5s ease;
    }

    @include sm {
        padding: 0px;
        font-size: 19px;
    }

    @include md {
        padding: 5px 15px
    }

}

.yourScore {
    // border: 2px solid greenyellow;
    @include scoreStyle;

    >span {
        @include md {
            display: none;
        }
    }

    >h3 {
        margin-top: 10px;
        border-radius: 40%;

        @include md {
            margin: 4px 0px;
            padding: 0px 10px;
            background-color: rgb(158, 66, 66, 0.9);
            color: rgb(214, 211, 211);
        }

        @include sm {
            background-color: rgb(214, 211, 211);
            color: rgb(158, 66, 66, 0.9);
        }
    }

    >button {
        margin-top: 15px;
        margin-left: 2px;
        @include md{
            padding: 0px;
            margin-top: 0px;
            margin-left: 0px;
            width: 5px;
        }
    }

    @include md {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid;
        border-radius: 13px;
        border: none;
    }

    @include sm {
        border: none;
    }
}

.home-btn {
    @include sm {
        display: none;
    }
}

.highestScore {

    //  border: 2px solid greenyellow;
    >span {
        @include md {
            padding: 0px 7px;
        }
    }

    >h3 {
        margin-top: 10px;
        border-radius: 40%;
        margin: 10px;

        @include md {
            padding: 0px 5px;
            margin: 4px;
            background-color: rgb(158, 66, 66, 0.9);
            color: rgb(214, 211, 211);
        }

        @include sm {
            padding: 5px 0px;
        }
    }

    @include scoreStyle;

    @include md {
        display: flex;
        align-items: center;
        border: 2px solid;
        border-radius: 30px;
    }

    @include sm {
        font-size: 19px;
        border: 3px dashed;

    }

}

.statsContainer>div>h3 {
    border: 1px solid;
    height: 40px;
    text-align: center;
}