@import '../../mixin.scss';

.container {
    // border: 2px solid green; 
    background-color: #c4c4c4;
    height: 100vh;
    padding: 10px 40px 10px 40px;
}

.gameTitle {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    @include md {
        // border: 1px solid green;
        font-size: 30px;
        font-weight: 600;
    }
}

.subContainer {
    // border: 4px solid rgb(211, 129, 129);  
    border-radius: 20px;
    height: 650px;
    height: 90%;
    display: flex;
    justify-content: center;
}

.bgImgContainer {
    background-image: url('/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px rgb(5, 51, 76);
    width: 80%;
    @include md{
        background-position: center;
    }
}

.buttonsContainer {
    // border: 3px solid greenyellow;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include md {
        flex-direction: column;
        justify-content: center;
    }

}

.btn{
    border: 3px solid rgb(158, 66, 66);
    background-color: rgb(186, 181, 181,0.7);
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        background-color: rgb(158, 66, 66);
        -webkit-text-stroke: 0.5px rgb(206, 202, 202);
        color: rgb(255, 255, 255);
        border: 3px solid rgb(186, 181, 181);
        transform: scale(1.5);
        transition: transform 0.3s ease-in-out, background-color 1s ease, color 0.5s;
    }
    @include md{
        margin-bottom: 20px;
    }
}