@import '../../mixin.scss';

.ParentBox{
    background-color: #c4c4c4;
    height: 100vh;
    // border: 1px solid red;
}
.header{
    // border: 1px solid blue;
    text-align: center;
    height: 50px;
    font-size: 20px;
}
.imgContainer{
    height: 90%;
    // border: 1px solid goldenrod;
}

.img{
    background-image: url('/bg2.png');
    // width: 100%;
    height: 100%;
    // border: 2PX solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md{
     background-position: center;   
    }
   
}

.ScoreTitle{
    // border: 2px solid greenyellow;
    margin-top: 20px;
    width: 30%;
    font-size: 20px;
    background-color: rgb(158, 66, 66, 0.9);
    display: flex;
    flex-direction: column;
    align-items:center ;
    border-radius: 10px;
    border-bottom: 3px solid rgb(186, 186, 186);
    >h1{
       color: rgb(186, 186, 186);
    }
    @include md{
        margin-top: 10px;
        width: 100%;

    }
}
